<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5p %c{1}:%L - %m%n" />
		</Console>
		<RollingFile name="file"
					 fileName="C:/OSHBarometer/log/OSHBarometerInterface.log"
					 append="true" filePattern="C:/OSHBarometer/log/OSHBarometerInterface-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{[yyyy-MM-dd HH:mm:ss]} - [%t] %-5p %c{1}:%L - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
		</RollingFile >
	</Appenders>
	<Loggers>
		<Logger name="eu.europa.osha.barometer.edition.webui" level="all">
			<level value="INFO" />
			<AppenderRef ref="file" />
		</Logger>
		<Root level="all">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>