@media (max-width: 1328px){
	
	#home-boxes{
		float: left;
		padding-bottom: 1em;
		.row1{
			a.box:nth-child(4){
				margin-right: 25px;
			}
		}

		.row2{
			clear: none;
			width: auto;
	    	margin: auto;
	    	a.box:last-child{
				margin-right: 25px;
			}
		}
	}
}

@media (max-width: 1280px){
	
	.container{
		padding: 0 15px 0 15px;
		width: auto;
		margin: 0 auto;
	}
}


